@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,700&family=Raleway:wght@300;400;700&family=Tinos:wght@400;700&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

html{
  min-height: 100%;
  position: relative;
}

/*----BODY----*/
body{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 3rem;
  grid-template-areas: 
    "head"
    "main"
    "foot";
  background-image: url(./img/pokemonBackground.png);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 45%;
}

body > header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  grid-area: head;
  text-align: center;
}

h1 > img {
  max-width: 60%;
}

form{
  display: inline-flex;
  gap: 0.3rem;
  align-items: center;
  justify-content: center;
}

input{
  margin: auto;
  padding: 0.4rem;
  border: 1px solid rgb(191, 215, 226);
  border-radius: 8px 8px 8px 8px;
  background-color: rgba(255, 255, 255, 0.322);
  outline:rgb(162, 178, 192);
}

.img-pokeball{
  max-width: 2em;
  animation: movPokeball 4s ease 0s infinite normal forwards;
}

/*----MAIN----*/
main{
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  margin: auto;
  align-items: center;
}

h2{
  font-size: 1.8rem;
  font-weight: bold;
  color: whitesmoke;
}

h3{
  font-size: 1.4rem;
  font-style: oblique;
  color: whitesmoke;
  margin-bottom: 10px;
  margin-right: auto;
}

a{
  color: inherit;
  text-decoration: none;
}

button{
  cursor: pointer; 
  cursor: hand;
  font-weight: bold;
  font-size: 1rem;
  border-color: #ccc;
  border-style: inherit;
  background-color: rgb(247, 247, 247);
}

button:hover{
  transform: scale(1.1);
  transition: 300ms;
}

.not-found{
  display: none;
}

.not-found-active{
  display: inline-flex;
  margin-top: 6rem;
  border-radius: 25%;
  width: 200px;
  max-width: 300px;
  max-height: 900px;
  min-width: 300px;
  min-height: 300px;
  background-color: rgba(219, 253, 253, 0.8);
  border: 1px solid #ccc;
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.4);
}

.not-found-active > p{
  width: 110px;
  margin-left: 2rem;
  margin-top: 5rem;
  font-weight: 700;
}

.not-found-active > img{
  margin:auto;
  height: 50%;
  width: 50%;
}

/*----POKEMON CARDS----*/
.container {
    text-align: center;
}

.pokemon-card {
  display: inline-block;
  grid-area: main;
  margin: 40px 10px 10px 10px;
  border: 1px solid #ccc;
  border-radius: 17px 17px 17px 17px;
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.4);
  width: 200px;
  background-image: url("./img/backgroundCard.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 120% 30%;
  max-width: 300px;
  max-height: 900px;
  min-width: 300px;
  min-height: 300px;
}

.header-card {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 10px;
  margin-bottom: 5px;
  align-items: center;
}

.header-card > h2{
  font-weight: bold;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.div-id{
  display: flex;
  margin-left: 10px;
}

.header-card > h3{
  margin: 0;
  color: white;
}

.menu-card{
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  border-radius: 0;
}

.menu-card > ul{
  gap: 4rem;
  margin: 0.4rem;
  padding: 0;
  display: inline-flex;
  list-style: none;
  color: black;
}

.pokemon-img{
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=165731), pointer;
  max-width: 9rem;
  max-height: 9rem;
  width: 100%;
  height: 100%;
  margin: auto;
  align-items: top;
}

.pokemon-img:hover{
  transform: scale(1.08);
  transition: 500ms;
}


.section-card{
  max-height: 310px;
  min-height: 310px;
  background-color: whitesmoke;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.section-card > p{
  margin: 0;
  padding: 3%;
}

.div-about{
  display: flex;
  flex-direction: column;
  margin-top: 3px;
  align-items: center;
  gap: 0.8rem;
}

.div-about.active{
  display: none;
  flex-direction: column;
}

.pokemon-about{
  margin-top: 15px;
}

.div-types{
  display: flex;
  gap: 1rem;
}

.pokemon-type{
  min-width: 4rem;
  flex-direction: column;
  max-width: 20%;
  margin-top: 1.5rem;
}

.div-stats{
  display: none;
  margin-top: 3px;
}

.div-stats.active{
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-template-rows: 1fr;
  align-items: baseline;
  margin-left: 10px;
  gap: 1rem;
}

.pokemon-stats{
  margin-top: 15px;
  text-align: start;
  margin-left: 10px;
}

.poke-graph{
  opacity: 0%;
  text-align: left;
  animation: statsGrow 2s ease-out 0.2s normal forwards;
  -webkit-transform-origin-x: 0%;
}


/*----FOOTER----*/
footer{
  position: absolute;
  bottom: 0;
  font-size: 9px;
}

/*----KEYFRAMES----*/
@keyframes statsGrow {
  0%{
    transform: scaleX(0);
  }

  100%{
    transform: scaleX(1);
    opacity: 100%;
  }
}

@keyframes movPokeball {
	0%,
	100% {
		transform: rotate(0deg);
		transform-origin: 50% 100%;
	}

	10% {
		transform: rotate(2deg);
	}

	20%,
	40%,
	60% {
		transform: rotate(-4deg);
	}

	30%,
	50%,
	70% {
		transform: rotate(4deg);
	}

	80% {
		transform: rotate(-2deg);
	}

	90% {
		transform: rotate(2deg);
	}
}

/*----MEDIA QUERIES----*/
@media (min-width: 300px) {
  input{
    width: 12rem;
  }
}

@media (min-width: 400px) {
  input{
    width: 20rem;
  }
}

@media (min-width: 500px) {
  input{
    width: 25rem;
  }
}

@media (min-width: 700px) {
  input{
    width: 35rem; 
  }
}