@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,700&family=Raleway:wght@300;400;700&family=Tinos:wght@400;700&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

html{
  min-height: 100%;
}

body{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 5rem auto 3rem;
  grid-template-areas: 
    "head"
    "form"
    "main"
    "foot";
  background: linear-gradient(270deg, #9fffe7, #baccff);
}

a{
  color: inherit;
  text-decoration: none;
}

h1{
  grid-area: head;
  text-align: center;
}

h2{
  font-size: 1.8rem;
  font-weight: bold;
  color: whitesmoke;
}

h3{
  font-size: 1.4rem;
  font-style: oblique;
  color: whitesmoke;
  margin-bottom: 10px;
  margin-right: auto;
}

form{
    grid-area: form;
}

main{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  margin: auto;
  grid-area: main;
}

.container {
    text-align: center;
    margin-top: 5%;
  }

.pokemonInput{
  margin: auto;
}

.pokemon-card {
  display: inline-block;
  grid-area: main;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 17px 17px 17px 17px;
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.4);
  width: 200px;
  background-image: url("./img/pokeUltima.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 120% 30%;
  max-width: 300px;
  max-height: 900px;
  min-width: 300px;
  min-height: 300px;
}

.decoracion-fondo{
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 120% 95%;
}

.header-card {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 10px;
  margin-bottom: 5px;
  align-items: center;
}

.header-card > h2{
  margin: 0;
}

.header-card > h3{
  margin: 0;
  color: white;
}

.section-card{
  max-height: 310px;
  min-height: 310px;
  background-color: whitesmoke;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}


.menu-card{
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  border-radius: 0;
}

.menu-card > ul{
  gap: 4rem;
  margin: 0.4rem;
  padding: 0;
  display: inline-flex;
  list-style: none;
  color: black;
}


.section-card > p{
  margin: 0;
  padding: 3%;
}

.pokemon-name {
  font-weight: bold;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.pokemon-img {
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=165731), pointer;
  max-width: 9rem;
  max-height: 9rem;
  width: 100%;
  height: 100%;
  margin: auto;
  align-items: top;
}

.div-about{
    display: flex;
    flex-direction: column;
    margin-top: 3px;
    align-items: center;
    gap: 0.8rem;
}
  
.div-about.active{
  display: none;
  flex-direction: column;
}

.pokemon-stats{
    margin-top: 15px;
    text-align: start;
    margin-left: 10px;
}

.div-stats{
    display: none;
    margin-top: 3px;
}

.div-stats.active{
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-template-rows: 1fr;
    align-items: baseline;
    margin-left: 10px;
    gap: 1rem;
}

.pokemon-about{
    margin-top: 15px;
}

.poke-grafico{
    text-align: left;
}

.div-tipos{
    display: flex;
    gap: 1rem;
}
  
.pokemon-tipo{
    min-width: 4rem;
    flex-direction: column;
    max-width: 20%;
    margin-top: 1.5rem;
}

/* .on-off{
  border-bottom-style: ridge;
  border-bottom-color: black;
} */

button{
  cursor: pointer; 
  cursor: hand;
  font-weight: bold;
  font-size: 1rem;
  border-color: #ccc;
  border-style: inherit;
  background-color: rgb(247, 247, 247);
}

button:hover{
  transform: scale(1.1);
}

.pokemon-img:hover{
  transform: scale(1.08);
}

.div-id{
  display: flex;
  margin-left: 10px;
}

#pokemonInput{
  margin: auto;
  padding: 0.4rem;
  border: 1px solid rgb(191, 215, 226);
  border-radius: 8px 8px 8px 8px;
  background-color: rgba(255, 255, 255, 0.322);
  outline:rgb(162, 178, 192);
}

.header-body{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.form{
  display: inline-flex;
  gap: 0.3rem;
  align-items: center;
}

.img-lupa{
  min-width: 9%;
}

/*Media-queries*/

@media (max-width: 700px) {

  h1{
    font-size: 2rem;
  }

  input{
    width: 90%; 
    max-width: none; 
    min-width: none; 
    height: auto; 
  }
  
}